@media screen and (max-width: 767px) {

}

@media (min-width: 768px) {

}

@media (min-width: 768px) {

}

@media (max-width: 767px) {

}

@media (min-width: 768px) {

}

@media (min-width: 768px) {

}

@media (max-width: 767px) {

}

@media (max-width: 767px) {

}

body.page-hatchlyfilesindex section.gallery ul:before,
body.page-hatchlyfilesindex section.gallery ul:after {
  content: " ";
  display: table;
}

body.page-hatchlyfilesindex section.gallery ul:after {
  clear: both;
}

/*---------------------------------------------------
LESS Elements 0.9
---------------------------------------------------
A set of useful LESS mixins
More info at: http://lesselements.com
---------------------------------------------------*/

.thumbnail-inline {
  width: 200px;
  float: right;
}

.thumbnail-inline .gallery-item {
  margin-bottom: 0;
}

.gallery-item {
  padding-bottom: 100%;
  position: relative;
  margin-bottom: 20px;
  background: #f2f2f2;
  border: 1px solid #ececec;
  overflow: hidden;
}

.gallery-item .content {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75%;
}

.gallery-item .o {
  display: table;
  width: 100%;
  height: 100%;
}

.gallery-item .o .i {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.gallery-item.folder .content {
  color: #46A2D7;
  background: #FFF;
  -webkit-filter: blur(0);
  filter: blur(0);
  transition: 0.15s;
}

@media (min-width: 768px) {
  .gallery-item.folder .content {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    padding: 10px;
  }
}

.gallery-item.folder .content p {
  word-break: break-word;
  margin-bottom: 0;
}

.gallery-item.folder .content i {
  font-size: 30px;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .gallery-item.folder .content i {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .gallery-item.folder .content i {
    font-size: 60px;
  }
}

.gallery-item.image:hover .content {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.gallery-item.image.file .content {
  text-indent: 0;
  color: #46A2D7;
  background: #FFF;
}

.gallery-item.image.file .content p {
  word-break: break-word;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .gallery-item.image.file .content p {
    display: none !important;
  }
}

.gallery-item.image.file .content i {
  font-size: 30px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .gallery-item.image.file .content i {
    font-size: 60px;
  }
}

.gallery-item.image .content {
  background-size: cover;
  background-position: center;
  color: transparent;
  text-indent: 9999px;
  -webkit-filter: blur(0);
  filter: blur(0);
  transition: 0.15s;
}

@media (min-width: 768px) {
  .gallery-item.image .content {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    padding: 10px;
  }
}

.gallery-item.content-middle .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.gallery-item.content-middle .content .inner {
  display: table;
  width: 100%;
  height: 100%;
}

.gallery-item.content-middle .content .inner > * {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.gallery-item.with-controls:hover .controls .controls-inner {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.gallery-item.with-controls .controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
}

.gallery-item.with-controls .controls .controls-inner {
  transition: 0.25s;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
  opacity: 0;
}

@media (max-width: 767px) {
  .gallery-item.with-controls .controls .controls-inner .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}

.gallery-item.with-controls.upload-button .inner {
  height: 100%;
}

.gallery-item.button-type.upload .icon {
  color: #334051;
  font-size: 50px;
  margin-bottom: 10px;
}

.gallery-item.button-type.upload input[type=file] {
  display: none;
}

.gallery-item.button-type .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.gallery-item.button-type .content .inner {
  display: table;
  width: 100%;
  height: 100%;
}

.gallery-item.button-type .content .inner > * {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

body.page-hatchlypagesedit .image-upload-group {
  position: relative;
  padding-right: 220px;
  min-height: 200px;
}

body.page-hatchlypagesedit .image-upload-group .thumbnail-inline {
  position: absolute;
  top: 0;
  right: 0;
}

.upload-area .file_uploader {
  border-radius: 5px;
  border: 2px #75bae1 dashed;
  text-align: center;
  background: #f6fafd;
  font-weight: 600;
  font-size: 1.5em;
  color: #69b4df;
  margin-bottom: 20px;
  transition: 0.25s;
  cursor: pointer;
  padding: 30px;
}

.upload-area .file_uploader * {
  pointer-events: none;
}

.upload-area .file_uploader:hover {
  background: #eaf4fa;
  border-color: #46A2D7;
  color: #46A2D7;
}

.upload-area .file_uploader .icon {
  font-size: 2em;
}

body.page-hatchlyfilesindex section.gallery {
  position: relative;
  min-height: 600px;
}

body.page-hatchlyfilesindex section.gallery.loading #loader {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

body.page-hatchlyfilesindex section.gallery.loading #loader img {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition-delay: 0.5s;
}

body.page-hatchlyfilesindex section.gallery #loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  transition: 0.5s;
  opacity: 0;
  padding: 100px 0;
  transition-delay: 0.5s;
  visibility: hidden;
}

body.page-hatchlyfilesindex section.gallery #loader img {
  max-width: 100px;
  transition: 1s;
  opacity: 0;
  -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0);
  transition-delay: 0s;
}

body.page-hatchlyfilesindex section.gallery ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
  margin-left: -10px;
  margin-right: -10px;
}

body.page-hatchlyfilesindex section.gallery ul li {
  float: left;
  width: 33.33333333%;
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 992px) {
  body.page-hatchlyfilesindex section.gallery ul li {
    float: left;
    width: 25%;
  }
}

@media (min-width: 1200px) {
  body.page-hatchlyfilesindex section.gallery ul li {
    float: left;
    width: 20%;
  }
}

body.page-hatchlyfilesfile-browser #nav {
  display: none !important;
}

body.page-hatchlyfilesfile-browser #content {
  margin-left: 0 !important;
}